/* Añadir fuentes */
@font-face {
    font-family: 'Gotham Medium';
    src: url('../font/GothamMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Light';
    src: url('../font/Gotham-Light.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Black';
    src: url('../font/Gotham-Black.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('../font/Gotham-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px 10px;
}

.navbar-texto {
    display: flex;
    font-family: 'Gotham Medium', sans-serif;
}

.navbar-texto a:not(.circulo-rojo) {
    text-decoration: none;
    padding: 8px 16px;
    color: #1C1C1C;
}

.navbar-texto li {
    margin-left: 30px;
}

.navbar-texto {
    list-style: none;
}

.navbar-logo img {
    width: 190px;
}

.circulo-rojo {
    background-color: #d52b1e;
    border-radius: 20px;
    padding: 8px 25px;
    text-decoration: none;
    color: #FFFFFF;
}

/* Main */

.imagen img {
    width: 100%;
    border-radius: 16px;
}

.imagen {
    margin: 0 22px;
}

.buscatusede-fondo {
    border-radius: 1rem;
    background-image: url(https://assets.smartfit.com.br/images/new_home_cl/hero.jpeg);
    background-position: 50%;
    background-size: cover;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.buscatusede-fondo a {
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    font-family: 'Gotham Medium', sans-serif;
    background-color: #FFFFFF;
    width: 365px;
    padding: 14px 25px;
    border-radius: 46px;
    display: flex;
    justify-content: center;
    position: relative;
}

.buscatusede-fondo i {
    position: absolute;
    top: 25%;
    right: 15px;
    font-size: 24px;
}

.buscatusede-texto h2 {
    font-size: 30px;
}

.buscatusede-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gotham Black', sans-serif;
}

.buscatusede-texto span {
    color: #ffad12;
}

/* Tabla */
.tabla {
    width: 100%;
    max-width: 1140px;
    margin: 50px auto 30px;
    padding: 0 16px;
}

.tabla ul {
    list-style: none;
}

.contenedor-columnas {
    display: flex;
    padding: 0;
}

.contenedor-columnas p {
    margin: 0 0 5px;
}

.tabla-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gotham Black', sans-serif;
    font-size: 30px;
}

.primer-columna {
    flex-grow: 1;
    font-family: 'Gotham Medium', sans-serif;
}

.columnas {
    display: flex;
    flex-direction: column;
    width: 225px;
    padding-top: 10px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.columnas-arriba {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #fff;
}

.columnas-medio {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.columnas-abajo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 135px;
    padding: 12px 8px;
}

.columnas li {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
    min-height: 50px;
    border-bottom: 1px solid #999;
}

.columnas li:not(.primer-columna li) {
    justify-content: center;
}

.columnas i {
    font-size: 22px;
}

.columnas h3 {
    margin: 6px;
}

* {
    box-sizing: border-box;
}

.columnas:not(:first-child) {
    font-family: 'Gotham Light', sans-serif;
}

.columnas-medio>li:first-child {
    border-top: 1px solid #999;
}

.columnas span {
    font-family: 'Gotham Bold', sans-serif;
}

.correcto {
    color: #0FA826;
}

.borde-naranjo {
    border: 2px solid #ffad12;
    border-radius: 12px;
    position: relative;
}

.borde-naranjo h5 {
    position: absolute;
    top: -13px;
    left: -6px;
    margin: 0;
    background-color: #ffad12;
    padding: 2px 4px;
}

.letra-pequeña {
    font-size: 13px;
    text-align: center;
}

.meses {
    padding-top: 30px;
}

.tabla-texto span {
    color: #ffad12;
}

.tabla-circulo-rojo {
    text-align: center;
    display: flex;
    justify-content: center;
}

.tabla-circulo-rojo p {
    background-color: #d52b1e;
    color: #FFFFFF;
    padding: 12px 105px;
    border-radius: 26px;
    width: max-content;
    font-family: 'Gotham Medium', sans-serif;
}

/* Experiencia */
.lista-experiencia {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

.lista-experiencia li {
    border-radius: 10px 10px 0 0
}

.lista-experiencia img {
    border-radius: 10px 10px 0 0;
}

.lista-experiencia p {
    display: flex;
    justify-content: center;
    font-family: 'Gotham Light', sans-serif;
    font-weight: bold;
}

.experiencia-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gotham Black', sans-serif;
    max-width: 1140px;
    margin: 0 auto;
}

.experiencia-texto h2 {
    font-size: 30px;
    text-align: center;
}

.experiencia-texto span {
    color: #ffad12;
}

/* Clases */
.clases-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gotham Black', sans-serif;
}

.clases-titulo h2 {
    font-size: 30px;
}

.clases-titulo span {
    color: #ffad12;
}

.lista-clases {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

.lista-clases li {
    width: 285px;
}

.lista-clases img {
    height: 170px;
    width: 285px;
    padding: 0;
    margin: 0;
}

.contenido {
    position: relative;
}

.prueba {
    background-color: #ffad12;
    font-family: 'Gotham Medium', sans-serif;
    font-size: 12px;
    text-align: center;
    margin: 0;
    padding: 8px 0;
    bottom: 0;
    width: 100%;
    position: absolute;
}

.clases-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.clases-texto>p {
    font-family: 'Gotham Light', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.clases-iconos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;
}

.clases-iconos li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 76px;
}

.clases-iconos p {
    margin: 0;
    font-size: 12px;
    font-family: 'Gotham Medium', sans-serif;
}

.clases-iconos i {
    font-size: 28px;
}

.aplicacion {
    background-color: #fff0d2;
    width: 100%;
    margin: 20px 0 0;
}

.contenedor-aplicacion {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.contenedor-aplicacion h2 {
    font-family: 'Gotham-Bold', sans-serif;
    font-size: 32px;
    line-height: 38px;
    color: #333;
}

.aplicacion-texto>p {
    font-family: 'Gotham Light', sans-serif;
    font-weight: bold;
}

.aplicacion-texto {
    width: 30%;
}

.contenedor-naranja {
    width: 50%;
    height: 280px;
    align-self: end;
    display: flex;
    align-items: end;
    background-color: #ffb612;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contenedor-naranja img {
    display: block;
    max-width: 100%;
    height: auto;
}

.aplicacion-imagenes {
    display: flex;
    margin-bottom: 20px;
}

.qr {
    width: 113px;
    height: 113px;
}

.playstore {
    background-color: white;
}

.app img {
    width: 135px;
    height: 40px;
    margin-left: 30px;
}

.texto-qr {
    font-size: 15px;
    font-family: 'Gotham Light', sans-serif;
    font-weight: bold;
}

.ficha-coach {
    margin: 0 auto;
    width: 230px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
}

.ficha-coach img {
    width: 176px;
    height: 64px;
}

.ficha-coach>h3 {
    font-size: 20px;
    font-family: 'Gotham Black', sans-serif;
}

.ficha-coach>p {
    padding-bottom: 20px;
    font-family: 'Gotham Light', sans-serif;
    font-size: 12px;
    text-align: center;
    color: #656565;
}

.precio>h3 {
    font-family: 'Gotham-Black', sans-serif;
    font-size: 37px;
}

.no-agrandar {
    font-size: 15px;
}

.estancia {
    font-size: 10px;
    font-family: 'Gotham Light', sans-serif;
    text-align: center;
}

.caja-naranja {
    background-color: #ffad12;
    text-align: center;
    border-radius: 26px;
}

.caja-naranja p {
    font-size: 14px;
    font-family: 'Gotham Medium', sans-serif;
    padding: 10px 0;
}

.precio {
    border-top: 0.9px solid #e1e1e1;
}

.footer {
    color: #000000;
    background: #000000;
    padding: 45px 20px 90px;
    font: 'Gotham Medium';
}

.footer a {
    color: #fff;
}

.footer-terminos-condiciones {
    color: #fff;
}

}